$fighterCommGround: 36px;

.fighter{
    position: absolute;
}

@font-face
{
font-family: 'cardfont';
src: url('cards21.ttf'),
    url('cards21.eot') format('embedded-opentype'),
    url('cards21.woff') format('woff');
}

#gameContainer{
    background-image: url('../images/back1.gif');
    width: 1024px;
    height: 384px;
    position: absolute;
    
}

#tryfont{
    font-family: cardfont;
    font-size: 15px;
    position: absolute;
    top: 0; left: 0;
}
#goku, .goku{
    background-image: url('../images/goku.png');
    bottom: $fighterCommGround;
    left: 20%;
}

#vegeta ,.vegeta{
    background-image: url('../images/Vegeto.png');
    bottom: $fighterCommGround;
    left: 80%;
}


@mixin keyframeMixin($name) { 
    @-webkit-keyframes $name { @content }
    @-moz-keyframes    $name { @content }
    @-ms-keyframes     $name { @content }
    @keyframes         $name { @content }
}


@mixin animationMixin($props) { 
    -webkit-animation: $props;
    -moz-animation :$props;
    -ms-animation: $props;
    animation: $props;
}

@mixin gradientMixin($prop) { 
    background-image: -moz-linear-gradient($prop);
    background-image: -webkit-linear-gradient($prop);
    background-image: -o-linear-gradient($prop);
    background-image: -ms-linear-gradient($prop);
    
}

.tryGradient{
    @include gradientMixin((top, #b91434 0%, #810a20 50%, #510a18 51%, #8d1129 100%));
    background-image: linear-gradient(to bottom,  #b91434 0%,#810a20 50%,#510a18 51%,#8d1129 100%);
}

@mixin linearGradientMixin($dir, $prop...) { 
    background-image: -moz-linear-gradient($dir, $prop);
    background-image: -webkit-linear-gradient($dir, $prop);
    background-image: -o-linear-gradient($dir, $prop);
    background-image: -ms-linear-gradient($dir, $prop);
    
    @if $dir == "top" {
        background-image: linear-gradient(to bottom, $prop);
    }
    @else if $dir == "left" {
        background-image: linear-gradient(to right, $prop);
    }
    
    @else if $dir < 0deg {
        background-image: linear-gradient( 180deg + $dir, $prop);
    }
    @else if $dir > 0deg {
        background-image: linear-gradient($dir, $prop);
    }
    
}

.redBtn, #tryfont{
    //@include linearGradientMixin(top, #ea163f 0%, #aa112d 100%);
    //background-image: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%), linear-gradient(to bottom, #ea163f 0%, #aa112d 100%);
    //@include linearGradientMixin(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    //@include linearGradientMixin(top, #ea163f 0%, #aa112d 100%);
    
    
    background-image: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%), -moz-linear-gradient(top, #ea163f 0%, #aa112d 100%);
    background-image: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(top, #ea163f 0%, #aa112d 100%);
    background-image: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%), -o-linear-gradient(top, #ea163f 0%, #aa112d 100%);
    background-image: -ms-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%), -ms-linear-gradient(top, #ea163f 0%, #aa112d 100%);
    background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%),linear-gradient(to bottom, #ea163f 0%, #aa112d 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%, 100% 100%;
    border: medium solid #580c19;
    
    border-radius: 50px;
    height: 30px;
    
}


@mixin transform($props) { 
    -webkit-transform: $props;
    -moz-transform :$props;
    -ms-transform: $props;
    transform: $props;
}


@mixin anim($animationOn, $params, $keyframeAnimName){
    #{$animationOn}{
        @include animationMixin($keyframeAnimName $params);
    }
    
    @include keyframeMixin($keyframeAnimName){
        @content
    }  
}


@include anim($animationOn:'.gokuReady', $params:1s infinite alternate steps(3), $keyframeAnimName:gokuReady){
    from { 
        background-position: -6px -104px;
    }	

    to { 
        background-position: -170px -104px;
    }
};

.gokuReady{
    width : 50px;
    height : 82px;
}



@include anim($animationOn:'.vegetoReady', $params:1.5s infinite alternate steps(4), $keyframeAnimName:vegetoReady){
    from { 
        background-position: -16px -106px;
    }
    to { 
        background-position: -156px -106px;
    }
};

.vegetoReady{
    width: 29px;
    height: 92px;
}

.faceChange{
    @include transform(rotateY(180deg));
}

#feedCredentials{
    position: absolute;
    margin: 0 auto;
    top: 30%;
}

#feedCredentials, article{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 30px;
    left: 40%;
    margin: 0 auto;
    padding: 30px;
    position: absolute;
    top: 30%;
    text-align: center;
    
    
    background: #ebef00; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ebef00 0%, #fc2105 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ebef00), color-stop(100%,#fc2105)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ebef00 0%,#fc2105 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ebef00 0%,#fc2105 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ebef00 0%,#fc2105 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ebef00 0%,#fc2105 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebef00', endColorstr='#fc2105',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    
}





