.fighter {
  position: absolute; }

@font-face {
  font-family: 'cardfont';
  src: url("cards21.ttf"), url("cards21.eot") format("embedded-opentype"), url("cards21.woff") format("woff"); }

#gameContainer {
  background-image: url("../images/back1.gif");
  width: 1024px;
  height: 384px;
  position: absolute; }

#tryfont {
  font-family: cardfont;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0; }

#goku, .goku {
  background-image: url("../images/goku.png");
  bottom: 36px;
  left: 20%; }

#vegeta, .vegeta {
  background-image: url("../images/Vegeto.png");
  bottom: 36px;
  left: 80%; }

.tryGradient {
  background-image: -moz-linear-gradient(top, #b91434 0%, #810a20 50%, #510a18 51%, #8d1129 100%);
  background-image: -webkit-linear-gradient(top, #b91434 0%, #810a20 50%, #510a18 51%, #8d1129 100%);
  background-image: -o-linear-gradient(top, #b91434 0%, #810a20 50%, #510a18 51%, #8d1129 100%);
  background-image: -ms-linear-gradient(top, #b91434 0%, #810a20 50%, #510a18 51%, #8d1129 100%);
  background-image: linear-gradient(to bottom, #b91434 0%, #810a20 50%, #510a18 51%, #8d1129 100%); }

.redBtn, #tryfont {
  background-image: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%), -moz-linear-gradient(top, #ea163f 0%, #aa112d 100%);
  background-image: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(top, #ea163f 0%, #aa112d 100%);
  background-image: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%), -o-linear-gradient(top, #ea163f 0%, #aa112d 100%);
  background-image: -ms-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%), -ms-linear-gradient(top, #ea163f 0%, #aa112d 100%);
  background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, #ea163f 0%, #aa112d 100%);
  background-repeat: no-repeat;
  background-size: 100% 50%, 100% 100%;
  border: medium solid #580c19;
  border-radius: 50px;
  height: 30px; }

.gokuReady {
  -webkit-animation: gokuReady 1s infinite alternate steps(3);
  -moz-animation: gokuReady 1s infinite alternate steps(3);
  -ms-animation: gokuReady 1s infinite alternate steps(3);
  animation: gokuReady 1s infinite alternate steps(3); }

@-webkit-keyframes gokuReady {
  from {
    background-position: -6px -104px; }

  to {
    background-position: -170px -104px; } }

@-moz-keyframes gokuReady {
  from {
    background-position: -6px -104px; }

  to {
    background-position: -170px -104px; } }

@-ms-keyframes gokuReady {
  from {
    background-position: -6px -104px; }

  to {
    background-position: -170px -104px; } }

@keyframes gokuReady {
  from {
    background-position: -6px -104px; }

  to {
    background-position: -170px -104px; } }

.gokuReady {
  width: 50px;
  height: 82px; }

.vegetoReady {
  -webkit-animation: vegetoReady 1.5s infinite alternate steps(4);
  -moz-animation: vegetoReady 1.5s infinite alternate steps(4);
  -ms-animation: vegetoReady 1.5s infinite alternate steps(4);
  animation: vegetoReady 1.5s infinite alternate steps(4); }

@-webkit-keyframes vegetoReady {
  from {
    background-position: -16px -106px; }

  to {
    background-position: -156px -106px; } }

@-moz-keyframes vegetoReady {
  from {
    background-position: -16px -106px; }

  to {
    background-position: -156px -106px; } }

@-ms-keyframes vegetoReady {
  from {
    background-position: -16px -106px; }

  to {
    background-position: -156px -106px; } }

@keyframes vegetoReady {
  from {
    background-position: -16px -106px; }

  to {
    background-position: -156px -106px; } }

.vegetoReady {
  width: 29px;
  height: 92px; }

.faceChange {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

#feedCredentials {
  position: absolute;
  margin: 0 auto;
  top: 30%; }

#feedCredentials, article {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 30px;
  left: 40%;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  top: 30%;
  text-align: center;
  background: #ebef00;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ebef00 0%, #fc2105 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ebef00), color-stop(100%, #fc2105));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ebef00 0%, #fc2105 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ebef00 0%, #fc2105 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ebef00 0%, #fc2105 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ebef00 0%, #fc2105 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebef00', endColorstr='#fc2105',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
